<main>
  <div class="masthead">
    <div class="content-wrapper">
      <h1><%= translate('home.h1')%></h1>
        <%= form_tag(ideas_path, method: 'GET', class: 'global-search') do %>
          <div class="input-inline">
            <label class="input-group__label sr-only" for="q">Looking for inspiration?</label>
            <div class="input-row">
              <%= text_field_tag('q', nil, class: 'input-row__field', placeholder: translate('search.placeholder')) %>
              <%= button_tag(translate('search.button'), class: 'btn btn--inline btn--primary') %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
      <div class="content-wrapper">
        <h2><%= translate('home.h2')%></h2>
        <ul class="bare-list float-grid css-grid">
        <% @ideas.each do |idea| %>
          <li>
            <%= render(partial: 'idea_card', 
                      locals:{card_title:idea.title, 
                              done_count: idea.done_count, 
                              photo_url:idea.photo_url, 
                              idea: idea}) %>
          </li>
        <% end %>
        </ul>
      </div>
      <div class="see-more">
        <button class="btn" type="button" data-more="true">See more</button>
      </div>
    </main>